<% provide :title, t(".head") %>
<div class="center jumbotron">
  <h1> <%= t ".intro" %></h1>
  <p><%= full_title t".content" %></p>
  <p>
    <br>
    <%= t ".content" %>
    <%= t ".intro" %>
    <%= link_to t(".ruby_rails"), Settings.ruby_rails_book %>
    <br>
</div>


