<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= full_title yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <%= render "shares/header"%>
  <body>
    <div class="container">
      <%= yield %>
    </div>
</body>
  <%= render "shares/footer" %>
</html>
